      <tr>
          <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
          <td><%= product.description %></td>
          <td><%= product.formatted_price %></td>
      </tr>
  
